@page "/"


<div class="flex flex-col space-y-2 max-w-lg">


    <div class="flex justify-between items-center px-3">



        <div class="flex justify-start flex-1 uppercase">
            Constructions
        </div>

        <span class="flex justify-center w-12">
            <MasterGuildIcon />
        </span>


        <span class="w-16 flex justify-center text-xs">
            Collect
        </span>

        <span class="w-16 flex justify-center text-xs">
            Resources
        </span>
    </div>

    <Constructions Player="player" Type="BuildingTypeFactory.Economic" />
    <Constructions Player="player" Type="BuildingTypeFactory.Military" />
    <Constructions Player="player" Type="BuildingTypeFactory.Cultural" />
    <Constructions Player="player" Type="BuildingTypeFactory.Religious" />
</div>


<BuildingGrid Cards="cards" />


<button @onclick="Add">Add</button>

@code {
    private Core.Player player;
    private List<Building> cards;

    protected override void OnInitialized()
    {
        player = new Core.Player(CityFactory.Luca);
        cards = DeckFactory.GetAll3PlayerBuildings().ToList();
    }

    private void Add()
    {
        var card = cards.First();
        var slot = player.Slots.Create(card.FirstType);
        cards.Remove(card);
        player.Build(slot, card, true);
    }
}
