@page "/"

<Constructions Player="player"
               OnExistingSlotClicked="BuildCardInSlot"
               OnNewSlotClicked="BuildCardInNewSlot" />

<BuildingGrid Cards="cards"
              OnBuildingSelected="(building) => selectedBuilding = building" />

<button @onclick="Add">Add</button>

@code {
    private Core.Player player;
    private List<Building> cards;
    private Building selectedBuilding;

    protected override void OnInitialized()
    {
        player = new Core.Player(CityFactory.Luca);
        cards = DeckFactory.GetAll3PlayerBuildings().ToList();
    }

    private void Add()
    {
        var card = cards.First();
        var slot = player.Slots.Create(card.FirstType);
        cards.Remove(card);
        player.Build(slot, card, true);
    }

    private void BuildCardInSlot(ConstructionSlot slot)
    {
        if (selectedBuilding != null)
        {
            player.Build(slot, selectedBuilding, true);
            selectedBuilding = null;
        }
    }

    private void BuildCardInNewSlot(BuildingType type)
    {
        if (selectedBuilding != null)
        {
            var slot = player.Slots.Create(type);
            player.Build(slot, selectedBuilding, true);
            selectedBuilding = null;
        }
    }
}
