<h2 class="@Styles.TitleText">
    My Projects
</h2>

<div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-4 mt-8">
    @foreach (var card in Cards)
    {
        <BuildingCard Building="card" OnBuildingSelected="BuildingSelected" />
    }
</div>

@code {

    [Parameter, EditorRequired]
    public required IEnumerable<Building> Cards { get; set; }

    [Parameter]
    public EventCallback<Building> OnBuildingSelected { get; set; }


    private void BuildingSelected(Building building)
    {
        OnBuildingSelected.InvokeAsync(building);
    }

}
