
<div class="flex justify-between border border-gray-300 py-2 px-3 rounded-sm" style="background-color:@Type.Color.ToHex()">
        <span class="hidden sm:flex w-24">@Type</span>
        <span class="sm:hidden w-10">@Type.ToString().Substring(0, 3).</span>
        <div class="flex justify-start flex-1 space-x-2">

            @foreach (var item in Player.Slots.SlotsOfType(Type))
            {
                <span class="w-6 h-7 border border-gray-700 flex justify-center items-center font-semibold">
                    @item.CurrentLevel
                </span>
            }

            <span class="w-6 h-7 border border-gray-700 flex justify-center items-center border-dashed">
                <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd">
                    </path>
                </svg>
            </span>
        </div>

        <span class="w-12">

            @if (!Player.HasGuildMaster(Type))
            {

                <span class="h-7 text-xl font-semibold text-gray-700 flex justify-center items-center">
                    <svg class="w-4 h-4 mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd">
                        </path>
                    </svg>
                    1
                </span>
            }
        </span>


    <span class="flex items-center justify-center w-16">
        @if (Player.BuildingTypeStatuses.WouldCollect(Type))
        {
            <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M5 2a1 1 0 011 1v1h1a1 1 0 010 2H6v1a1 1 0 01-2 0V6H3a1 1 0 010-2h1V3a1 1 0 011-1zm0 10a1 1 0 011 1v1h1a1 1 0 110 2H6v1a1 1 0 11-2 0v-1H3a1 1 0 110-2h1v-1a1 1 0 011-1zM12 2a1 1 0 01.967.744L14.146 7.2 17.5 9.134a1 1 0 010 1.732l-3.354 1.935-1.18 4.455a1 1 0 01-1.933 0L9.854 12.8 6.5 10.866a1 1 0 010-1.732l3.354-1.935 1.18-4.455A1 1 0 0112 2z" clip-rule="evenodd">
                </path>
            </svg>
        }
    </span>

    <span class="flex items-center w-16">
        @Player.Resources.OfType(Type.Resource)
        <span class="border border-gray-700 w-4 h-4 ml-2" style="background-color:@Type.Resource.Color.ToHex()">
            &nbsp;
        </span>
    </span>
</div>

@code {
    [Parameter]
    public Player Player { get; set; }

    [Parameter]
    public BuildingType Type { get; set; }
}
