<div class="flex flex-col space-y-2 max-w-lg">

    <div class="flex justify-between items-center pr-3">

        <div class="flex-1 uppercase tracking-widest font-medium">
            Constructions
        </div>

        <span class="flex justify-center w-12">
            <MasterGuildIcon />
        </span>


        <span class="w-16 flex justify-center text-xs">
            Collect
        </span>

        <span class="w-16 flex justify-center text-xs">
            Resources
        </span>
    </div>

    <ConstructionLine Player="Player" 
                      Type="BuildingTypeFactory.Economic"
                      OnExistingSlotClicked="async (slot) => await OnExistingSlotClicked.InvokeAsync(slot)"
                      OnNewSlotClicked="async () => await OnNewSlotClicked.InvokeAsync(BuildingTypeFactory.Economic)" />

    <ConstructionLine Player="Player" 
                      Type="BuildingTypeFactory.Military"
                      OnExistingSlotClicked="async (slot) => await OnExistingSlotClicked.InvokeAsync(slot)"
                      OnNewSlotClicked="async () => await OnNewSlotClicked.InvokeAsync(BuildingTypeFactory.Military)" />

    <ConstructionLine Player="Player"
                      Type="BuildingTypeFactory.Cultural"
                      OnExistingSlotClicked="async (slot) => await OnExistingSlotClicked.InvokeAsync(slot)"
                      OnNewSlotClicked="async () => await OnNewSlotClicked.InvokeAsync(BuildingTypeFactory.Cultural)" 
                      />

    <ConstructionLine Player="Player" 
                      Type="BuildingTypeFactory.Religious"
                      OnExistingSlotClicked="async (slot) => await OnExistingSlotClicked.InvokeAsync(slot)"
                      OnNewSlotClicked="async () => await OnNewSlotClicked.InvokeAsync(BuildingTypeFactory.Religious)" 
                      />
</div>

@code {

    [Parameter]
    public Player Player { get; set; }

    [Parameter]
    public EventCallback<ConstructionSlot> OnExistingSlotClicked { get; set; }

    [Parameter]
    public EventCallback<BuildingType> OnNewSlotClicked { get; set; }
}
